body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.no-scroll {
  overflow: hidden;
}